<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <button class="custom-icon" routerLink="/" >
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <button title="Home"  mat-button class="menu-button" routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <button title="Categoria" mat-button class="menu-button" routerLink="/categoria">
      <mat-icon>category</mat-icon>
    </button>
    <button title="Produto"  mat-button class="menu-button" routerLink="/produto">
      <mat-icon>layers</mat-icon>
    </button>
    <button title="Funcionário"  mat-button class="menu-button" routerLink="/funcionario">
      <mat-icon>business_center</mat-icon>
    </button>
    <button title="Cliente"  mat-button class="menu-button" routerLink="/cliente">
      <mat-icon>group</mat-icon>
    </button>
    <button title="Usuário"  mat-button class="menu-button" routerLink="/usuario">
      <mat-icon>person_add</mat-icon>
    </button>
    <button title="Relatório"  mat-button class="menu-button" routerLink="/relatorio">
      <mat-icon>assignment</mat-icon>
    </button>

    <mat-divider></mat-divider>

    <button title="Sair" mat-button class="menu-button" (click)="sair()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
