<h1 mat-dialog-title class="centered-content">
  {{titulo}}
</h1>
<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="form"
>
<mat-dialog-content class="centered-content">
  {{mensagem}}
</mat-dialog-content>

  <mat-dialog-content class="centered-content">
  <mat-form-field>
    <mat-label>E-mail do cliente</mat-label>
    <input formControlName="listaProduto" style="display: none">
    <input matInput placeholder="email@example.com" formControlName="emailCliente" >
  </mat-form-field>
  </mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button
          class="button"
          color="primary"
          type="submit"
          tabindex="1">Enviar</button>
  <button *ngIf="showCancelButton"
          class="button botao-cancelar"
          mat-dialog-close
          mat-raised-button
          tabindex="-1">
          Cancelar
  </button>
</mat-dialog-actions>
</form>
