<div class="formPadrao">
<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="form"
>
  <div class="form-content">
    <h2>{{acao}} de <br> Cliente</h2>

    <mat-form-field class="input-comum">

      <mat-label>Nome</mat-label>
      <input  matInput formControlName="nome">
    </mat-form-field>
    <div class="alinhar2">

    <mat-form-field class="input-comum">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" [readonly]="acao === 'Editar'">
    </mat-form-field>

    <mat-form-field class="input-comum">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf">
    </mat-form-field>

    <mat-form-field class="input-comum">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput formControlName="nascimento" [matDatepicker]="picker" placeholder="Escolha uma data">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    </div>
    <div class="alinhar2">
    <mat-form-field class="input-comum">

      <mat-label>Telefone</mat-label>
      <input matInput formControlName="telefone">
    </mat-form-field>

    <mat-form-field class="input-comum">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    </div>
    <div class="botoes">
    <button mat-raised-button color="primary" type="submit" class="button  botao-cadastro">Confirmar {{acao}}</button>
    <button mat-raised-button color="warn" (click)="limparFormulario()" class="button botao-limpar">Limpar</button>
    <button mat-raised-button color="warn" routerLink="/cliente" class="button botao-cancelar">Cancelar</button>
    </div>
  </div>
</form>
</div>



