<div class="formMov" fxLayout="row" fxLayoutAlign="center">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()"
    class="form" fxFlex="1 1 auto"
  >
    <h1>Incluir Lançamento de Movimentação Produto {{nomeProduto}}</h1>

    <mat-form-field>
      <mat-label>Operação</mat-label>
      <mat-select formControlName="acao" placeholder="Selecione a ação" (selectionChange)="atualizaAcao()">
        <mat-option  *ngFor="let acao of acoesEnum | keyvalue" [value]="acao.value">{{ acao.key }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantidade</mat-label>
      <input matInput formControlName="quantidade" min="1" type="number">
      <mat-error *ngIf="formGroup.controls['quantidade'].value < 1">Não pode ser menor que 1</mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Preço de venda</mat-label>
      <input matInput formControlName="preco" mask="separator.2" decimalSeparator="," placeholder="0,00">
      <mat-error *ngIf="formGroup.controls['preco'].value < 1">Não pode ser menor que 1</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Custo de aquisição</mat-label>
      <input matInput formControlName="custo" mask="separator.2" decimalSeparator="," placeholder="0,00">
      <mat-error *ngIf="formGroup.controls['custo'].value < 1">Não pode ser menor que 1</mat-error>

    </mat-form-field>

    <mat-form-field>
      <mat-label>Observação</mat-label>
      <textarea matInput formControlName="observacao" placeholder="Observação"></textarea>
    </mat-form-field>
    <div class="btn-mov" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button (click)="fechar()" class="button botao-cancelar">Cancelar</button>
      <button mat-raised-button color="warn" type="button" (click)="limparFormulario()" class="button botao-limpar">
        Limpar
      </button>
      <button mat-raised-button color="primary" type="submit" class="button  botao-cadastro">Confirmar</button>
    </div>
  </form>
</div>
