<div class="formMov" fxLayout="row" fxLayoutAlign="center">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()"
    class="form" fxFlex="1 1 auto"
  >
    <h1>Incluir Lançamento de Movimentação Produto {{nomeProduto}}</h1>

    <mat-form-field>
      <mat-label>Operação</mat-label>
      <mat-select formControlName="acao" placeholder="Selecione a ação">
        <mat-option *ngFor="let acao of acoesEnum | keyvalue" [value]="acao.value">{{ acao.key }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantidade</mat-label>
      <input matInput formControlName="quantidade">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Preço de venda</mat-label>
      <input matInput formControlName="preco">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Custo de aquisição</mat-label>
      <input matInput formControlName="custo">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Observação</mat-label>
      <textarea matInput formControlName="observacao" placeholder="Observação"></textarea>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button (click)="fechar()" class="button botao-cancelar">Cancelar</button>
      <button mat-raised-button color="warn" type="button" (click)="limparFormulario()" class="button botao-limpar">
        Limpar
      </button>
      <button mat-raised-button color="primary" type="submit" class="button  botao-cadastro">Confirmar</button>
    </div>
  </form>
</div>
