<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
  <div class="custom-div">
    <h1>{{acao}} de Categoria</h1>
    <mat-form-field appearance="outline">
      <mat-label>Categoria*</mat-label>
      <input matInput formControlName="nome">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descrição:</mat-label>
      <textarea matInput formControlName="descricao"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Confirmar {{acao}}</button>
    <button mat-raised-button color="warn" (click)="limparFormulario()">Limpar</button>
    <button mat-raised-button color="warn" routerLink="/categoria">Cancelar</button>
  </div>
</form>
