<div class="container">
<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="form"
>
  <div class="form-content">
    <h2>{{acao}} de <br> Funcionário</h2>
    <mat-form-field>
      <mat-label>Nome*</mat-label>
      <input matInput formControlName="nome">
    </mat-form-field>
    <div class="alinhar2">
    <mat-form-field>
      <mat-label>CPF*</mat-label>
      <input matInput formControlName="cpf">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Nascimento*</mat-label>
      <input matInput formControlName="nascimento" [matDatepicker]="picker" placeholder="Escolha uma data">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    </div>
    <div class="alinhar2">
    <mat-form-field>
      <mat-label>Telefone*</mat-label>
      <input matInput formControlName="telefone">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email*</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Cargo*:</mat-label>
      <mat-select formControlName="cargoId">
        <mat-option *ngFor="let cargo of cargos" [value]="cargo.codigo">{{ cargo.nome }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit" class="button  botao-cadastro">Confirmar {{acao}}</button>
  <button mat-raised-button color="warn" (click)="limparFormulario()" class="button botao-limpar">Limpar</button>
  <button mat-raised-button color="warn" routerLink="/funcionario" class="button botao-cancelar">Cancelar</button>
</form>
</div>
