<div class="formPadrao" fxLayout="row" fxLayoutAlign="center center" >
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form" fxFlex="1 1 auto">

    <h2>{{acao}} <br> Produto</h2>

    <mat-form-field>
      <mat-label>Codigo de barras</mat-label>
      <input matInput formControlName="codigoBarras" placeholder="Insira o código de barras">
      <mat-error *ngIf="handleError('codigoBarras', 'required')">Campo Obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" placeholder="Nome do produto">
      <mat-error *ngIf="handleError('nome', 'required')">Campo Obrigatório</mat-error>
    </mat-form-field>

    <div [fxLayout]="mudarAlinhar()" fxLayoutAlign="space-evenly center" >
    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="categoriaId" placeholder="Selecione a categoria">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.codigo">{{ categoria.nome }}</mat-option>
      </mat-select>
      <mat-error *ngIf="handleError('categoriaId', 'required')">Campo Obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Marca</mat-label>
      <input matInput formControlName="marca" placeholder="Nome da marca">
      <mat-error *ngIf="handleError('marca', 'required')">Campo Obrigatório</mat-error>
    </mat-form-field>
    </div>

        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <textarea matInput formControlName="descricao" placeholder="Descreva o produto"></textarea>
          <mat-error *ngIf="handleError('descricao', 'required')">Campo Obrigatório</mat-error>
        </mat-form-field>

    <div [fxLayout]="mudarAlinhar()" fxLayoutAlign="space-evenly center" >
    <mat-form-field *ngIf="ACAO_INCLUIR === acao">
      <mat-label>Quantidade Inicial</mat-label>
      <input matInput formControlName="quantidade" type="number">
      <mat-error *ngIf="handleError('quantidade', 'required')">Campo Obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="ACAO_INCLUIR === acao" >
      <mat-label>Preço de venda</mat-label>
      <input matInput formControlName="preco" mask="separator.2" decimalSeparator="," placeholder="0,00">
      <mat-error *ngIf="handleError('preco', 'required')">Campo Obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="ACAO_INCLUIR === acao">
      <mat-label>Custo de aquisição</mat-label>
      <input matInput formControlName="custo"  mask="separator.2" decimalSeparator="," placeholder="0,00">
      <mat-error *ngIf="handleError('custo', 'required')">Campo Obrigatório</mat-error>
    </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-evenly center" >
      <button *ngIf="!imagemId" mat-raised-button color="primary" type="button" class="button botao-cadastro" (click)="imageInput.click()">Carregar imagem</button>
      <button *ngIf="imagemId" mat-raised-button color="primary" type="button" class="button botao-cadastro" (click)="imageInput.click()">Alterar imagem</button>
        <input formControlName="imagemId" style="display: none" value="{{imagemId}}">
        <input
          style="display: none"
          type="file" (change)="onFileChanged($event)"
          accept="image/*"
          #imageInput
        >
        <img *ngIf="!imagemId && !imagemIdAntigo" class="imagem-upload" src="../../../../assets/imagem_upload.jpg">
        <img *ngIf="imagemIdAntigo" class="imagem-selecionada" src="http://localhost:8080/imagem/{{imagemId}}" >
        <img *ngIf="imagemId && !imagemIdAntigo" class="imagem-selecionada" src="http://localhost:8080/imagem/{{imagemId}}">
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" >
      <button mat-raised-button color="warn" type="button" (click)="this.mensagens.acaoCancelar()" class="button botao-cancelar">Cancelar</button>
      <button mat-raised-button color="warn" type="button" (click)="limparFormulario()" class="button botao-limpar">Limpar</button>
      <button mat-raised-button color="primary" type="submit" class="button  botao-cadastro">Confirmar</button>
    </div>

</form>
</div>


