@import '../../../../StyleForms.css';

.div-imagem{
  width: 30%;
  float: right;
  text-align: center;
}
.imagem-selecionada{
  margin-top:4px;
  margin-bottom: 10px;
  border: 2px solid #949494;
  border-radius: 2px;
  width: 60%;
}

.imagem-upload{
  width: 40%;
}

@media (max-width: 1820px) {
  .formPadrao {
    width: 60%;
    padding: 3%;
  }
}

@media (max-width: 1000px) {
  .formPadrao {
    width: 80%;
    padding: 4%;
  }
}

@media (max-width: 700px) {
  .formPadrao {
    width: auto;
    padding: 6%;
  }
}

