@import '../../../../StyleForms.css';

.div-campos{
  width: 1000px;
}

.div-imagem{
  width: 380px;
}
.imagem-selecionada{
  margin-top:4px;
  margin-bottom: 10px;
  border: 2px solid #949494;
  border-radius: 2px;
  width: 300px;
}

.imagem-upload{
  width: 300px;
}
