@import '../../../../StyleForms.css';


.div-imagem{
  width: 30%;
  float: right;
  text-align: center;
}
.imagem-selecionada{
  margin-top:4px;
  margin-bottom: 10px;
  border: 2px solid #949494;
  border-radius: 2px;
  width: 60%;
}

.imagem-upload{
  width: 60%;
}

.botoes{
  width: 50%;
}
