
<div class="formPadrao">

<div class="container">

<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="form"
>
  <div class="form-content">
    <h2>{{acao}} de <br> Usuário</h2>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input *ngIf="acao === 'Editar'" matInput formControlName="funcionarioNome" readonly>
      <mat-label>Funcionário</mat-label>
      <mat-select formControlName="funcionarioNome" *ngIf="acao === 'Cadastro'">
        <mat-option *ngFor="let funcionario of funcionarios" [value]="funcionario.cpf">{{ funcionario.nome }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="senha" placeholder="Senha*">
      <mat-error *ngIf="formGroup.get('senha')?.hasError('required')">Senha é obrigatória</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirmar Senha</mat-label>
      <input matInput type="password" formControlName="confirmarSenha" placeholder="Confirmar Senha*">
      <mat-error *ngIf="formGroup.get('confirmarSenha')?.hasError('required')">Confirmação de senha é obrigatória</mat-error>
      <mat-error *ngIf="formGroup.hasError">As senhas não coincidem</mat-error>
    </mat-form-field>
  </div>
  <div class="botoes">
    <button mat-raised-button color="primary" type="submit" class="button  botao-cadastro">Confirmar {{acao}}</button>
    <button mat-raised-button color="warn" (click)="limparFormulario()" class="button botao-limpar">Limpar</button>
    <button mat-raised-button color="warn" routerLink="/usuario" class="button botao-cancelar">Cancelar</button>


    <div class="botoes">
    <button mat-raised-button color="primary" type="submit" class="button  botao-cadastro">Confirmar {{acao}}</button>
    <button mat-raised-button color="warn" (click)="limparFormulario()" class="button botao-limpar">Limpar</button>
    <button mat-raised-button color="warn" routerLink="/usuario" class="button botao-cancelar">Cancelar</button>
    </div>

  </div>
</form>
</div>
</div>
