
<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="form"
>
  <div class="formLivro">
    <h1>{{acao}} de Usuario</h1>
    <mat-form-field>
      <mat-label>Nome*</mat-label>
      <mat-select formControlName="funcionarioCodigo">
        <mat-option *ngFor="let funcionario of funcionarios" [value]="funcionario.codigo">{{ funcionario.nome }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Senha*</mat-label>
      <input matInput type="password" formControlName="senha" placeholder="Senha*">
      <mat-error *ngIf="formGroup.get('senha')?.hasError('required')">Senha é obrigatória</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirmar Senha*</mat-label>
      <input matInput type="password" formControlName="confirmarSenha" placeholder="Confirmar Senha*">
      <mat-error *ngIf="formGroup.get('confirmarSenha')?.hasError('required')">Confirmação de senha é obrigatória</mat-error>
      <mat-error *ngIf="formGroup.hasError('senhasDiferentes')">As senhas não coincidem</mat-error>
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit">Confirmar {{acao}}</button>
    <button mat-raised-button color="warn" (click)="limparFormulario()">Limpar</button>
    <button mat-raised-button color="warn" routerLink="/funcionario">Cancelar</button>
  </div>
</form>

