table{
  width: 100%;
  background-color: #6050C6;
  border-color: #6050C6;
  text-decoration-color: white;
}

.mat-mdc-row .mat-mdc-cell{
  text-align: left;
  background-color: white;
  border: 1px solid #6050C6;
  text-align: center;
}

th{
  text-align: center;
  color: white;
}




