@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h2{
  user-select:none;
  text-align: center;
}

.form-content{
  display: flex;
  flex-direction: column;
  width: 70%;
  float: left;
}

.botoes{
  width: 100%;
}


/*@media (min-width: 500px) {
  .formPadrao {
    width: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    border: 3px solid #513BDB;
    border-radius: 50px 50px;
    background-color: white;
    text-align: center;
  }
}
@media (min-width: 765px) {
  .formPadrao {
    width: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;

  }
}*/
@media (min-width: 1200px) {
  .formPadrao {
    display: flex;
    flex-direction: column;
    border: 3px solid #513BDB;
    border-radius: 30px 30px;
    background-color: white;
    padding: 15px;
    margin-top: 2%;
  }
}


.button{
  font-family: DM Roboto, sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-align:center;
  background:#5438FF;
  color: white;
  width:100px !important;
  height:50px !important;
  position: relative;
  border: none;
  border-radius: 10px 10px;
  cursor: pointer;
  display: line;
  alignment-baseline: center;
  margin: 5px;
}

.botao-cadastro{
  width:180px!important;
  height:50px!important;
}

.botao-limpar{
  background-color: white;
  border:1px solid black;
  color: black;
}

.botao-cancelar{
  background-color: #FFE438;
  border:1px solid black;
  color: black;
}

mat-form-field{
  width: 100%;
  margin: 5px;
}

.alinhar2{
  display: flex;
  align-items: center;
  alignment-baseline: center;
  width: auto;
  position: relative;
}

