@import '../../../../styles.css';
.enviar{
  width: 10%;
  height: 40px;
  font-family: DM Roboto, sans-serif;
  font-size: 13px;
  padding:1px;
  text-decoration: none;
  background:#6050C6;
  color: white;
  border: none;
  border-radius: 50px 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icone{
  font-size: 18px;
  margin-top: 5px;
  margin-left: 7px;
}

img{
  margin-top: 5px;
}
