<h2> Controle de <br>Produtos</h2>
<mat-card>
  <mat-card-actions [fxLayout]="mudarAlinhar()" fxLayoutAlign="none" >
    <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button class="button-config" title="EnviarProduto" (click)="enviarproduto()">
      <span>Enviar Produto</span>
      <mat-icon>send</mat-icon>
    </button>
    <button  class="button-config" mat-raised-button color="primary" [routerLink]="['/produto','novo']">
      <mat-icon>add</mat-icon>
      <span>Cadastrar Produto</span>
    </button>
    </div>
      <app-search-component [controller]="produtoService" (onSearchResult)="showResult($event)"/>
  </mat-card-actions>
  <mat-card-content>
    <div style="overflow-x:auto">
    <table mat-table [dataSource]="pageSlice" class="tabela">

      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef><mat-checkbox color="primary" [checked]="allChecked" (change)="selectAll($event.checked)"></mat-checkbox> </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{'selected': row === linhaSelecionada}">
          <mat-checkbox color="primary" [ngModel]="allChecked" (ngModelChange)="selecionarLinha(row)"></mat-checkbox>
        </td>
      </ng-container>

      <!-- ID/Codigo da categoria -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código Produto </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>

      <!-- Codigo barras -->
      <ng-container matColumnDef="codigoBarras">
        <th mat-header-cell *matHeaderCellDef> Cód. Barras </th>
        <td mat-cell *matCellDef="let element"> {{element.codigoBarras}} </td>
      </ng-container>

      <ng-container matColumnDef="imagem">
        <th mat-header-cell *matHeaderCellDef> Foto </th>
        <td mat-cell *matCellDef="let element"> <img src='http://localhost:8080/imagem/{{element.imagemId}}' height="100"> </td>
      </ng-container>

      <!-- Nome categoria -->
      <ng-container matColumnDef="categoriaId">
        <th mat-header-cell *matHeaderCellDef> Categoria</th>
        <td mat-cell *matCellDef="let element"> {{element.categoriaNome}}</td>
      </ng-container>

      <!-- Nome categoria -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <!-- Descrição produto -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>

      <!-- Marca -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
      </ng-container>

      <!-- Quantidade -->
      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef class="quantidade">
          Quantidade
          <mat-icon *ngIf="!ordenado" title="Ordenar por quantidade" class="icone-ordenar" (click)="ordenarQtd()">arrow_upward</mat-icon>
          <mat-icon *ngIf="ordenado" title="Desfazer ordenação" class="icone-ordenar" (click)="ordenarQtd()">layers_clear</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element"> <mat-icon title="Produto atingiu o estoque mínimo!" class="alerta" *ngIf="element.quantidade <= 10">warning</mat-icon>{{element.quantidade}} </td>
      </ng-container>

      <!-- Preço de venda -->
      <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef> Preço de venda </th>

        <td mat-cell *matCellDef="let element">R$ {{element.preco}} </td>

      </ng-container>


      <!-- Ação  -->
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button [matMenuTriggerFor]="acoes">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #acoes="matMenu">
            <button mat-menu-item [routerLink]="['/produto',element.codigo]">
              <mat-icon>edit</mat-icon>Editar
            </button>
            <button mat-menu-item (click)="confirmarExcluir(element)">
              <mat-icon>delete_forever</mat-icon>Excluir
            </button>
            <button mat-menu-item [routerLink]="['/relatorio',element.codigo,'produto']">
               <mat-icon>remove_red_eye</mat-icon>Movimentações
            </button>
            <button mat-menu-item (click)="openDialog(element)">
              <mat-icon>add</mat-icon>Novo lançamento
            </button>

          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunasMostrar"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasMostrar"></tr>
    </table>
    </div>

        <mat-paginator style="justify-content: center" [length]="this.qtdRegistros"
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       (page)="onPageChange($event)"
                       aria-label="Select page"
                       showFirstLastButtons>
        </mat-paginator>
  </mat-card-content>
</mat-card>
